<div class="container">
  <div class="row">

<div class="col-md-4">
<mat-card>
<h3>Student Detail</h3>

  <table class="table table-striped">
    <tr>
      <th><mat-label>Id:</mat-label></th>
      <td>{{student.id}}</td>
    </tr>
    <tr>
      <th><mat-label>Name:</mat-label></th>
      <td>{{student.name}}</td>
    </tr>
    <tr>
      <th><mat-label>DoB:</mat-label></th>
      <td>{{student.dateOfBirth}}</td>
    </tr>

  </table>
  <!--<a [routerLink]="['./modules']" >Student Modules</a>-->
  <a *ngIf="student" mat-raised-button color="primary" [routerLink]="['/student/student-edit',student.id]" >Edit</a>
</mat-card>
</div>


    <div class="col-md-7">
      <mat-card>

        <h3>Student Module</h3>
        <app-studentmodule-list></app-studentmodule-list>

        <a mat-button [routerLink]="['/studentmodule/studentmodule-add',student.id]">
          <mat-icon >add_circle</mat-icon>
        </a>

      </mat-card>
    </div>

  </div>
</div>

