<div class="container">
  <div class="row">

<div class="col-md-4">
<mat-card>
<h3>Student Detail</h3>

  <table class="table table-striped">
    <tr>
      <td><mat-label>Student Name</mat-label></td>
      <td><mat-label>Date of Birth</mat-label></td>
    </tr>
    <tr>
      <td>{{student.name}}</td>
      <td>{{student.dateOfBirth | date: 'dd.MM.yyyy'}}</td>
    </tr>
  </table>
  {{student.id}}
  <a *ngIf="student" mat-raised-button color="primary" [routerLink]="['/student/student-edit',student.id]" >Edit</a>
</mat-card>
</div>


    <div class="col-md-7">
      <mat-card>

        <h3>Student Module</h3>
        <!--<table class="table table-striped">-->
          <!--<tr>-->
            <!--<th>Module Name</th>-->
            <!--<th>Edit</th>-->
            <!--<th>Delete</th>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>{{module.name}}</td>-->
            <!--<td><a mat-button>-->
              <!--<mat-icon color="primary">edit</mat-icon>-->
            <!--</a></td>-->
            <!--<td><a mat-button>-->
              <!--<mat-icon color="warn" >delete_forever</mat-icon>-->
            <!--</a></td>-->
          <!--</tr>-->
        <!--</table>-->
        <app-studentmodule-list></app-studentmodule-list>

        <a mat-button [routerLink]="['/studentmodule/studentmodule-add',student.id]">
          <mat-icon >add_circle</mat-icon>
        </a>

      </mat-card>
    </div>

  </div>
</div>

