
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Student Name</th>
    <th>Module Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let studentModule of studentModules">
    <td>{{student.id}}</td>
    <td>{{studentModule.student ? studentModule.student.name : 'Not set' }}</td>
    <td>{{studentModule.module ? studentModule.module.name : 'Not set'}}</td>
    <td>
      <a mat-button [routerLink]="['/studentmodule/studentmodule-edit']" >
        <mat-icon color="primary" build>build</mat-icon>
      </a>
    </td>
    <td>
      <a mat-button (click)="delete(studentModule)">
        <mat-icon color="warn" delete_forever>delete_forever</mat-icon>
      </a>
    </td>
  </tr>

</table>
