<table class="table table-striped">
  <tr>
    <th>Student Name</th>
    <th>Module Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let studentmodule of studentModules">
    <td>{{studentmodule.student ? studentmodule.student.name : 'Not set' }}</td>
    <td>{{studentmodule.module ? studentmodule.module.name : 'Not set'}}</td>
    <td>
      <a mat-button [routerLink]="['/studentmodule/studentmodule-edit']" >
        <mat-icon color="primary" build>build</mat-icon>
      </a>
    </td>
    <td>
      <a mat-button (click)="delete(studentmodule)">
        <mat-icon color="warn" delete_forever>delete_forever</mat-icon>
      </a>
    </td>
  </tr>

</table>
