<mat-card>
  {{student.name}}
  <h3>Student Edit</h3>
  <form (ngSubmit)="editStudent()">
    <mat-form-field>
      <mat-label>Student Name</mat-label>
      <input type="text" matInput [formControl]="StudentName" >
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input type="date" matInput [formControl]="StudentDoB" >
    </mat-form-field>
    <br />

    <button type="submit" color="primary" mat-raised-button>Save</button>
  </form>
</mat-card>
