
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>DoB</th>
    <th># Modules</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let student of students" >
      <a [routerLink]="['/student/student-detail',student.id]">
        <td>{{student.name}}</td>
      </a>
    <td>{{student.dateOfBirth}}</td>
    <td><button matBadgeOverlap="false" matBadge="{{student.studentModules.length}}" color="primary"></button></td>
    <td>
      <a mat-button [routerLink]="['/student/student-edit',student.id]" >
        <mat-icon color="primary" build>build</mat-icon>
      </a>
    </td>
    <td>
      <a mat-button (click)="delete(student)">
        <mat-icon color="warn" delete_forever>delete_forever</mat-icon>
      </a>
    </td>
  </tr>

</table>

